# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Virtual environment folders
ENV/
env.bak/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Data & models (keep repo light)
dataset/
models/
logs/
